In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import movie_data as md
import importlib
%matplotlib inline

In [3]:
df = md.generate_movie_analysis_df()

Importing tables into dataframes...
Cleaning data...
Merging IMDB data...
Merging BoxOfficeMojo data...
Merging TheNumbers data...
Calculating profit and ROI

In [4]:
df.head()

,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year,release_date,production_budget,domestic_gross,worldwide_gross,profit,roi
tconst,,,,,,,,,,,,,,,
tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383.0,Par.,2016,2016-03-11,5.0,72.082999,108.286422,103.286422,20.657284
tt1413492,12 Strong,12 Strong,2018,130.0,"Action,Drama,History",6.6,50155.0,WB,2018,2018-01-19,35.0,45.819713,71.118378,36.118378,1.031954
tt2024544,12 Years a Slave,12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301.0,FoxS,2013,2013-10-18,20.0,56.671993,181.025343,161.025343,8.051267
tt1542344,127 Hours,127 Hours,2010,94.0,"Adventure,Biography,Drama",7.6,323949.0,FoxS,2010,2010-11-05,18.0,18.335230,60.217171,42.217171,2.345398
tt2059171,13 Sins,13 Sins,2014,93.0,"Horror,Thriller",6.3,29550.0,RTWC,2014,2014-04-18,4.0,0.009134,0.047552,-3.952448,-0.988112