In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import importlib
import data_cleaning as dc
%matplotlib inline

Tables of interest:
* imdb.title.basics  (for genres)
* imdb.title.ratings (for average ratings)
* bom.movie_gross (for studios)
* tn.movie_budgets (for budgets and worldwide gross)

## Import tables of interest

function `df_from_movie_csv` loads csv.gz by tablename into dataframe, setting index, converting date fields to date time, converting dollar fields to numeric.

In [121]:

import_tables = ['imdb.title.basics','imdb.title.ratings','bom.movie_gross','tn.movie_budgets']
dfs = {}
for table_name in import_tables:
    dfs[table_name] = dc.df_from_movie_csv(table_name)

function `clean_movie_df` standardizes field names, adds a `year` column if appropriate, and filters results to 2010-2018.

In [127]:
importlib.reload(dc)
for table_name in import_tables:
    dfs[table_name] = dc.clean_movie_df(dfs[table_name],table_name)

In [128]:
dfs['imdb.title.basics']

,title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN
tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama
tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama
tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery"
tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy"
tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama"
tt0253093,Gangavataran,Gangavataran,2018,134.0,NaN
tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama"
tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary
tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.0,Documentary
tt0263814,On kadin,On kadin,2019,NaN,Drama
tt0276568,To Chase a Million,To Chase a Million,2018,97.0,"Action,Drama"
tt0277964,Prague: The Restless Heart of Europe,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History"
tt0283440,Short Time Heroes,Kurzzeithelden,2015,45.0,Sci-Fi
...,...,...,...,...,...
tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary
tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary
tt9913248,Nepal - Homebird,Nepal - Homebird,2019,52.0,Documentary
tt9913418,Fragments,Fragments,2019,NaN,"Drama,Mystery,Sci-Fi"
tt9913572,Marley G Documentary,Marley G Documentary,2019,NaN,Documentary
tt9913594,Bacchanalia,Bacchanalia,2017,72.0,"Drama,Mystery,Thriller"
tt9913936,Paradise,Paradise,2019,NaN,"Crime,Drama"
tt9914254,A Cherry Tale,Kirsebæreventyret,2019,85.0,Documentary
tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family"
tt9914368,Kuttram Seiyel,Kuttram Seiyel,2019,NaN,"Action,Crime"
tt9914522,The Holden Family Plan,The Holden Family Plan,2019,NaN,"Drama,Family"
tt9914642,Albatross,Albatross,2017,NaN,Documentary
tt9914644,9/11: Escape from the Towers,9/11: Escape from the Towers,2018,120.0,Documentary
tt9914662,Wien is 't Hof van Commerce,Wien is 't Hof van Commerce,2018,NaN,Comedy
tt9914828,The War of Godzilla,The War of Godzilla,2015,102.0,"Action,Comedy,Family"
tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN
tt9915436,Vida em Movimento,Vida em Movimento,2019,70.0,Documentary
tt9915790,Bobbyr Bondhura,Bobbyr Bondhura,2019,NaN,Family
tt9915872,The Last White Witch,The Last White Witch,2019,97.0,"Comedy,Drama,Fantasy"
tt9916132,The Mystery of a Buryat Lama,The Mystery of a Buryat Lama,2018,94.0,"Biography,Documentary,History"
tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary
tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama
tt9916186,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,84.0,Documentary
tt9916190,Safeguard,Safeguard,2019,90.0,"Drama,Thriller"
tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War"
tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

## Join tables

### IMDB

Join the two `imdb` dataframes. They join directly on index, no error-checking required.

In [119]:
imdb_title_ratings_df = dfs['imdb.title.basics'].join(dfs['imdb.title.ratings'])

In [84]:
imdb_title_ratings_df.size

1023008

In [120]:
imdb_title_ratings_df.head()

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0

There are a lot of movies with the same `primary_title`. Dedupe by restricting to the entry with the highest `numvotes`.

In [85]:
imdb_title_ratings_df = dc.select_max_rows_on_key_column(imdb_title_ratings_df, 
                                                         key_column='primary_title', 
                                                         max_column='numvotes')

In [86]:
imdb_title_ratings_df.shape[0]

136071

### Box Office Mojo

In [116]:
bom_df = dfs['bom.movie_gross']
bom_df = dc.select_max_rows_on_key_column(bom_df,key_column='title',max_column='domestic_gross')
bom_df.shape[0]

3386

Join the `imdb` dataframe with the `bom` dataframe on (English-language) movie title. This misses some big movies (title conventions are not identical).

In [88]:
imdb_bom_df = dc.join_dfs_on_key_col(imdb_title_ratings_df,bom_df,
                                     left_on='primary_title',right_on='title')
imdb_bom_df.shape[0]

2605

Our matching by title has a success rate of 2605/3386 (77%).

### The Numbers

In [117]:
tn_df = dfs['tn.movie_budgets']
tn_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,year
id,,,,,,
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011
4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015
5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,2017
6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2015
7,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,2018

Join the `imdb_bom` dataframe with the `tn` dataframe on title and release year.

In [103]:
df = imdb_bom_df.drop(columns=['domestic_gross','foreign_gross']).reset_index() \
                  .merge(tn_df.rename(columns={'movie':'primary_title'}),
                         how='inner',
                         on=['primary_title','year']) \
                  .set_index('tconst')

In [101]:
df.shape[0]

1135

In [104]:
df.head()

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year,release_date,production_budget,domestic_gross,worldwide_gross,foreign_gross
tconst,,,,,,,,,,,,,,
tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383.0,Par.,2016,2016-03-11,5000000.0,72082999.0,108286422.0,36203423.0
tt1413492,12 Strong,12 Strong,2018,130.0,"Action,Drama,History",6.6,50155.0,WB,2018,2018-01-19,35000000.0,45819713.0,71118378.0,25298665.0
tt2024544,12 Years a Slave,12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301.0,FoxS,2013,2013-10-18,20000000.0,56671993.0,181025343.0,124353350.0
tt1542344,127 Hours,127 Hours,2010,94.0,"Adventure,Biography,Drama",7.6,323949.0,FoxS,2010,2010-11-05,18000000.0,18335230.0,60217171.0,41881941.0
tt2059171,13 Sins,13 Sins,2014,93.0,"Horror,Thriller",6.3,29550.0,RTWC,2014,2014-04-18,4000000.0,9134.0,47552.0,38418.0