In [178]:
import pandas as pd
import numpy as np
import seaborn as sns
import importlib
import data_cleaning as dc
%matplotlib inline

Tables of interest:
* imdb.title.basics  (for genres)
* imdb.title.ratings (for average ratings)
* bom.movie_gross (for studios)
* tn.movie_budgets (for budgets and worldwide gross)

## Import tables of interest

function `df_from_movie_csv` loads csv.gz by tablename into dataframe, setting index, converting date fields to date time, converting dollar fields to numeric.

In [179]:

import_tables = ['imdb.title.basics','imdb.title.ratings','bom.movie_gross','tn.movie_budgets']
dfs = {}
for table_name in import_tables:
    dfs[table_name] = dc.df_from_movie_csv(table_name)

function `clean_movie_df` standardizes field names, adds a `year` column if appropriate, and filters results to 2010-2018.

In [180]:
importlib.reload(dc)
for table_name in import_tables:
    dfs[table_name] = dc.clean_movie_df(dfs[table_name],table_name)

## Join tables

### IMDB

Join the two `imdb` dataframes. They join directly on index, no error-checking required.

In [181]:
imdb_title_ratings_df = dfs['imdb.title.basics'].join(dfs['imdb.title.ratings'])

In [185]:
imdb_title_ratings_df.shape[0]

146144

In [186]:
imdb_title_ratings_df.head()

,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0

There are a lot of movies with the same `primary_title`. Dedupe by restricting to the entry with the highest `numvotes`.

In [187]:
imdb_title_ratings_df = dc.select_max_rows_on_key_column(imdb_title_ratings_df, 
                                                         key_column='title', 
                                                         max_column='numvotes')

In [188]:
imdb_title_ratings_df.shape[0]

136071

### Box Office Mojo

In [189]:
bom_df = dfs['bom.movie_gross']
bom_df = dc.select_max_rows_on_key_column(bom_df,key_column='title',max_column='domestic_gross')
bom_df.shape[0]

3386

Join the `imdb` dataframe with the `bom` dataframe on (English-language) movie title. This misses some big movies (title conventions are not identical).

In [190]:
imdb_bom_df = dc.join_dfs_on_key_col(imdb_title_ratings_df,bom_df,on='title')
imdb_bom_df.shape[0]

2605

Our matching by title has a success rate of 2605/3386 (77%).

### The Numbers

In [191]:
tn_df = dfs['tn.movie_budgets']
tn_df.shape[0]

2124

Join the `imdb_bom` dataframe with the `tn` dataframe on title and release year.

In [202]:
bom_df.index.name = 'index'
bom_df

,title,studio,domestic_gross,foreign_gross,year
index,,,,,
2093,'71,RAtt.,1.3000,0.355,2015
1830,"1,000 Times Good Night",FM,0.0539,0.000,2014
2395,10 Cloverfield Lane,Par.,72.1000,38.100,2016
1040,10 Years,Anch.,0.2030,0.000,2012
2283,1001 Grams,KL,0.0110,0.000,2015
3222,102 Not Out,Sony,1.3000,10.900,2018
533,11-11-11,Rocket,0.0328,5.700,2011
3161,12 Strong,WB,45.8000,21.600,2018
1170,12 Years a Slave,FoxS,56.7000,131.100,2013
93,127 Hours,FoxS,18.3000,42.400,2010
486,13 Assassins,Magn.,0.8030,16.800,2011
2418,13 Hours: The Secret Soldiers of Benghazi,Par.,52.9000,16.600,2016
3017,13 Minutes,SPC,0.1620,0.000,2017
1849,13 Sins,RTWC,0.0138,0.000,2014
1681,14 Blades,RTWC,0.0000,3.800,2014
1041,17 Girls,Strand,0.0151,0.186,2012
674,1911,Vari.,0.1360,0.000,2011
1867,"2 Autumns, 3 Winters",FM,0.0058,0.000,2014
970,2 Days in New York,Magn.,0.6330,1.000,2012
1183,2 Guns,Uni.,75.6000,56.300,2013
1711,2 States,UTV,2.2000,0.000,2014
1314,20 Feet from Stardom,RTWC,4.9000,0.000,2013
2164,20 Once Again,CJ,0.2350,0.000,2015
1715,"20,000 Days on Earth",Drft.,0.2800,1.800,2014
3264,2001: A Space Odyssey (2018 re-release),WB,3.2000,0.000,2018
2516,20th Century Women,A24,5.7000,0.000,2016
765,21 Jump Street,Sony,138.4000,63.100,2012
1236,21 and Over,Rela.,25.7000,22.400,2013
1268,22 Bullets,Cdgm.,0.0000,21.300,2013
1502,22 Jump Street,Sony,191.7000,139.600,2014
...,...,...,...,...,...
1381,You Ain't Seen Nothin' Yet,KL,0.0189,0.488,2013
3267,You Were Never Really Here,Amazon,2.5000,0.000,2018
1320,You Will Be My Son,Cohen,0.2850,3.600,2013
126,You Will Meet a Tall Dark Stranger,SPC,3.2000,31.000,2010
1273,You're Next,LGF,18.5000,0.000,2013
1854,You're Not You,EOne,0.0115,0.000,2014
1094,You've Been Trumped,ICir,0.0293,0.000,2012
478,Young Adult,Par.,16.3000,6.600,2011
1216,Young Detective Dee: Rise of the Sea Dragon,WAMCR,0.0878,72.200,2013
532,Young Goethe in Love,MBox,0.1620,5.600,2011
1820,Young and Beautiful,IFC,0.0611,0.000,2014
472,Your Highness,Uni.,21.6000,3.300,2011
2783,Your Name.,FUN,5.0000,353.000,2017
971,Your Sister's Sister,IFC,1.6000,0.000,2012
2077,Youth,FoxS,2.7000,0.000,2015
2960,Youth (2017),CL,1.9000,0.000,2017
146,Youth in Revolt,W/Dim.,15.3000,4.400,2010
2978,Yu-Gi-Oh! The Dark Side of Dimensions,SV,1.0000,0.000,2017
1619,Yves Saint Laurent,Wein.,0.7240,20.300,2014
2202,Z for Zachariah,RAtt.,0.1210,0.000,2015
780,Zero Dark Thirty,Sony,95.7000,37.100,2012
1804,Zero Motivation,Zeit.,0.1160,0.000,2014
561,Zindagi Na Milegi Dobara,Eros,3.1000,0.000,2011
2277,Zombeavers,Free,0.0149,0.000,2015
370,Zookeeper,Sony,80.4000,89.500,2011
2426,Zoolander 2,Par.,28.8000,27.900,2016
2325,Zootopia,BV,341.3000,682.500,2016
148,[Rec] 2,Magn.,0.0278,18.500,2010
2865,mother!,Par.,17.8000,26.700,2017
2785,xXx: The Return of Xander Cage,Par.,44.9000,301.200,2017

In [201]:
df = dc.join_dfs_on_key_col(imdb_bom_df.drop(columns=['domestic_gross','foreign_gross']),tn_df,on=['title','year'])

In [205]:
importlib.reload(dc)
test = dc.join_dfs_on_key_col(imdb_title_ratings_df,tn_df,on=['title'])
test.shape[0]

1750

In [195]:
df.shape[0]

1135

In [166]:
df.head()

,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year,release_date,production_budget,domestic_gross,worldwide_gross
tconst,,,,,,,,,,,,,
tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383.0,Par.,2016,2016-03-11,5.0,72.082999,108.286422
tt1413492,12 Strong,12 Strong,2018,130.0,"Action,Drama,History",6.6,50155.0,WB,2018,2018-01-19,35.0,45.819713,71.118378
tt2024544,12 Years a Slave,12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301.0,FoxS,2013,2013-10-18,20.0,56.671993,181.025343
tt1542344,127 Hours,127 Hours,2010,94.0,"Adventure,Biography,Drama",7.6,323949.0,FoxS,2010,2010-11-05,18.0,18.335230,60.217171
tt2059171,13 Sins,13 Sins,2014,93.0,"Horror,Thriller",6.3,29550.0,RTWC,2014,2014-04-18,4.0,0.009134,0.047552

In [167]:
df['profit'] = df.worldwide_gross - df.production_budget

In [168]:
df['roi'] = df.profit / df.production_budget

In [169]:
df.head()

,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year,release_date,production_budget,domestic_gross,worldwide_gross,profit,roi
tconst,,,,,,,,,,,,,,,
tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383.0,Par.,2016,2016-03-11,5.0,72.082999,108.286422,103.286422,20.657284
tt1413492,12 Strong,12 Strong,2018,130.0,"Action,Drama,History",6.6,50155.0,WB,2018,2018-01-19,35.0,45.819713,71.118378,36.118378,1.031954
tt2024544,12 Years a Slave,12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301.0,FoxS,2013,2013-10-18,20.0,56.671993,181.025343,161.025343,8.051267
tt1542344,127 Hours,127 Hours,2010,94.0,"Adventure,Biography,Drama",7.6,323949.0,FoxS,2010,2010-11-05,18.0,18.335230,60.217171,42.217171,2.345398
tt2059171,13 Sins,13 Sins,2014,93.0,"Horror,Thriller",6.3,29550.0,RTWC,2014,2014-04-18,4.0,0.009134,0.047552,-3.952448,-0.988112

In [170]:
df.describe()

,start_year,runtime_minutes,averagerating,numvotes,year,production_budget,domestic_gross,worldwide_gross,profit,roi
count,1135.000000,1135.000000,1134.000000,1.134000e+03,1135.000000,1135.000000,1135.000000,1135.000000,1135.000000,1135.000000
mean,2013.579736,109.335683,6.472928,1.387685e+05,2013.663436,49.292330,64.145831,161.681521,112.389190,3.514366
std,2.511092,17.613655,0.930022,1.729823e+05,2.509142,57.440479,87.358082,243.021924,201.431578,13.954478
min,2010.000000,41.000000,1.600000,1.000000e+01,2010.000000,0.050000,0.000000,0.001242,-110.450242,-0.999862
25%,2011.000000,97.000000,5.900000,3.483400e+04,2011.000000,11.000000,9.934055,20.968331,3.920029,0.240090
50%,2013.000000,106.000000,6.500000,8.087400e+04,2014.000000,28.000000,35.593113,70.536870,36.118378,1.493783
75%,2016.000000,119.000000,7.100000,1.698302e+05,2016.000000,60.000000,79.145948,186.798798,124.707235,3.405503
max,2018.000000,180.000000,8.800000,1.841066e+06,2018.000000,410.600000,700.059566,2048.134200,1748.134200,415.564740